<template>
  <div id="mainform">
    <div class="filter">
      <div class="data-filter">
        <label>Дата: </label>
        <input type="date" v-model="date">
      </div>
      <div class="location-filter">
        <label>Локация: </label>
        <select v-model="locationCurr">
          <option disabled value="">Выберите </option>
          <option v-for="locationCurr in locations" v-bind:value="locationCurr.id" selected>
            {{ locationCurr.name }}
          </option>
        </select>
      </div>
      <div class="smena-filter">
        <label>Смена: </label>
        <label>День</label><input type="radio" v-model="shift" value="day">
        <label>Ночь</label><input type="radio" v-model="shift" value="night">
        <label>Оба</label><input type="radio" v-model="shift" value="both" checked>
      </div>


      <div class="buttons-filter">
        <input type="submit" value="Запрос" role="button" class="btn btn-info" @click="getRounds">
        <input type="submit" value="Очистить всё" role="button" class="btn btn-danger" @click="clearMachines">
        <input type="submit" value="Очистить детализацию" role="button" class="btn btn-danger" @click="clearDetails">

      </div>
    </div>

    <div>
      <vue-good-table
        title="Детализация рейсов"
        :columns="columns"
        :rows="rows"
        :paginate="false"
        :lineNumbers="true">
        <template slot="table-row-after" slot-scope="props">
          <td>
            <button @click="getRoundsForMachine(props.row)">Детализация</button>
          </td>
        </template>
      </vue-good-table>
    </div>
    <rounds :propRows="propRows"></rounds>
  </div>

</template>

<script>
  import Rounds from './Rounds.vue'

  function shift(shift) {
    if (shift === "both") {
      console.log('Сутки');
      return "Сутки (08:00-08:00)"
    }
    if (shift === "day") {
      return "День (08:00-20:00)"
    }
    if (shift === "night") {
      return "Ночь (20:00-08:00)"
    }
  }

  function addZero(digits_length, source) {
    "use strict"
    let text = source + '';
    while (text.length < digits_length)
      text = '0' + text;
    return text;
  }

  let date = new Date();
  let dateStr = date.getFullYear() + "-" + addZero(2, (date.getMonth() + 1)) + "-" + addZero(2, date.getDate());

  export default {
    mounted() {
      this.$socket.emit('getLocationsList', {});
      //this.$socket.emit('lastseenScanner', {});
      console.log('hello')

    },
    name: 'mainform',
    data() {
      return {
        columns: [
          {
            label: 'Имя машины',
            field: 'name',
            filterable: true,
          },
          {
            label: 'Номер машины',
            field: 'number',
            type: 'number',
            html: false,
            filterable: true,
          },
          {
            label: "Количество рейсов",
            field: 'count',
            html: false,

          },
          {
            label: 'Смена',
            field: 'shift_localize',
            html: false,
          },
          {
            label: 'Дата',
            field: 'date',
            html: false,
          },
          {
            label: 'Участок',
            field: 'location',
            html: false,
            filterable: true,
          },
          {
            label: 'Действия',

          }

        ],
        rows: [],
//        machines: [],
        locations: [],
        locationCurr: "",
        shift: "",
        date: dateStr,
        propRows: []
      }
    },
    methods:
      {
        getRounds: function () {

          let dataset = {
            date: this.date,
            locationId: this.locationCurr,
            shift: this.shift
          };
          this.$socket.emit('getRounds', dataset);
        },
        getRoundsForMachine: function (machine) {
          console.log(machine);
          let dataset = {
            date: machine.date,
            locationId: machine.locationId,
            shift: machine.shift,
            mac: machine.mac,
            machine: machine
          };
          this.$socket.emit('getRoundsForMachine', dataset);
        },
        clearMachines: function () {
          this.rows = [];
          this.propRows = [];

        },
        clearDetails: function () {
          this.propRows = [];

        }
      },
    sockets:
      {
        connect: function () {
          console.log('connection establish');
          this.$socket.emit('getLocationsList');
        },
        fullState: function (dataset) {
          console.log('fullState');

          dataset.map(function (curr, index, arr) {
            curr.shift_localize = shift(curr.shift)
          })

          this.rows = this.rows.concat(dataset);
        },
        locations: function (dataset) {
          console.log('locations');
          this.locations = dataset;
        },
        rounds: function (dataset) {
          console.log('rounds');
          this.propRows = [];
          let moment = this.$moment
          dataset.map(function (curr, index, arr) {
            curr.shift_localize = shift(curr.shift)
            let start = moment(curr.start).add(7, 'h');
            let end = moment(curr.end).add(7, 'h');

            curr.start = start
            //            .tz('Asia/Krasnoyarsk')
              .format('YYYY-MM-DD HH:mm:ss');
            curr.end = end
            //            .tz('Asia/Krasnoyarsk')
              .format('YYYY-MM-DD HH:mm:ss');
          })
          this.propRows = dataset;


        }

      },
    components: {
      Rounds
    },

  }
</script>

<style>
  body {
    font-family: sans-serif;
  }

  .btn {
    border: solid 1px #ccc;
    border-radius: 5px;
    padding: 7px 14px;
    margin-bottom: 10px;
  }

  .btn-danger {
    background-color: #d9534f;
    border-color: #d9534f;
  }

  input {
    border: solid 1px #ccc;
    border-radius: 5px;
    padding: 7px 14px;
    margin-bottom: 10px;
    font-size: 14px;
  }

  select {
    border: solid 1px #ccc;
    border-radius: 5px;
    padding: 7px 14px;
    margin-bottom: 10px;
    font-size: 14px;
  }

  #mainform {
    margin: 40px 20px 20px 20px;

  }

  .data-filter {
    display: inline-block;

  }

  .location-filter {
    display: inline-block;
    float: right;
  }

  .smena-filter {
    padding: 10px 0px 10px 0px;
  }

  .filter {
    background-color: #eee;
    border: solid 1px #ddd;
    width: 450px;
    padding: 15px 10px 0px 20px;
    overflow: auto;
  }

  .buttons-filter {
    float: right;
  }
</style>
