<template>
  <div>
    <vue-good-table
      title="Детализация рейсов"
      :columns="columns"
      :rows="propRows"
      :paginate="true"
      :perPage=50
      :paginateOnTop="true"
      :lineNumbers="true"/>
  </div>
</template>

<script>

  export default {

    name: 'rounds',
    props: ['propRows'],

    data() {
      return {
        columns: [
          {
            label: 'Имя машины',
            field: 'name',
            filterable: true,
          },
          {
            label: 'Номер машины',
            field: 'number',
            type: 'number',
            html: false,
            filterable: true,
          },
          {
            label: 'Продолжительность',
            field: 'duration',
            html: false,
          },
          {
            label: 'Приезд',
            field: 'start',

          },
          {
            label: 'Уезд',
            field: 'end',

          },
          {
            label: 'Смена',
            field: 'shift',
            html: false,
          },
          {
            label: 'Участок',
            field: 'location',
            html: false,
            filterable: true,
          },

        ],
        rows: [],
      };
    },
    sockets: {
//      rounds: function (dataset) {
//        console.log('rounds');
//        for (let i in dataset) {
//
//          let start = this.$moment(dataset[i].start).add(7, 'h');
//          let end = this.$moment(dataset[i].end).add(7, 'h');
//
//          dataset[i].start = start
////            .tz('Asia/Krasnoyarsk')
//            .format('YYYY-MM-DD HH:mm:ss');
//          dataset[i].end = end
////            .tz('Asia/Krasnoyarsk')
//            .format('YYYY-MM-DD HH:mm:ss');
//
//          this.rows.push(dataset[i]);
//        }
//
//      }
    }
  };
</script>
